@import 'vendors/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "Open Sans";
  margin: 0;
  background-color: #0c0e10;
  color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  top: 0;
  z-index: 1000;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
}
header .logo {
  font-weight: 400;
  font-size: 1.5rem;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
}

#hero {
  text-align: center;
  min-height: 91vh;
}
#hero .container {
  width: 1000px;
}
#hero .container img {
  width: 225px;
  object-fit: cover;
  margin-top: -40px;
}
#hero h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#hero h1 .emoji {
  font-size: 2rem;
}
#hero p {
  font-size: 5rem;
  font-weight: 600;
  margin: 20px 0;
  line-height: 1.2;
}
#hero .description {
  font-size: 2rem;
  font-weight: 500;
  color: #9a9ea6;
  width: 680px;
  margin: 20px auto;
  line-height: 1.5;
}
#hero .bold {
  font-weight: 600;
  color: #b1b5bd;
}
#hero .btn {
  margin: 20px 0;
  display: inline-block;
  background: rgb(255, 255, 255);
  opacity: 0.7;
  text-decoration: none;
  padding: 0.75em 1.5em;
  border-radius: 15px;
  font-weight: 600;
  color: #000;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#hero .btn:hover {
  opacity: 1;
  transform: scale(1.01);
}

#about {
  border-radius: 20px;
  padding: 5rem 0;
}
#about h2 {
  font-size: 9rem;
  text-transform: uppercase;
  margin: 0;
}
#about .container .work {
  position: relative;
  background-color: #131313;
  display: flex;
  max-width: 780px;
  min-height: 237px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #333333;
  overflow: hidden;
  transition: background-color 0.3s ease;
}
#about .container .work .work--info {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#about .container .work .work--info h2 {
  font-size: 2rem;
  text-transform: none;
  font-weight: 500;
}
#about .container .work .website-img {
  width: 40%;
  height: 200px;
  background-size: cover;
  transform: translate(60px, 70px);
  border-radius: 16px;
  transition: transform 0.3s ease;
}
#about .container .work #kano {
  background-image: url("../images/kano.png");
}
#about .container .work #prediction {
  background-image: url("../images/prediction.png");
}
#about .container .work .year {
  position: absolute;
  right: 20px;
  top: 10px;
}
#about .container .work .description {
  color: #9a9ea6;
  margin: 0;
  line-height: 1.4;
}
#about .container .work .btns {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
#about .container .work .btns a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: 80px;
  font-size: 1rem;
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  padding: 2px 15px;
}
#about .container .work .btns img {
  height: 25px;
  width: 25px;
}
#about .container .work .btns span {
  font-size: 30px;
}
#about .container .work:hover {
  background-color: #1f1f1f;
}
#about .container .work:hover .website-img {
  transform: rotate(-5deg) translate(30px, 90px);
}
#about .tech-stacks {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
#about .tech-stacks ul {
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
  gap: 10px;
  padding: 0;
  margin: 0;
  max-width: 90%;
}
#about .tech-stacks ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b1b1b1;
  font-size: 0.7rem;
  gap: 4px;
  border: 1px solid #292929;
  border-radius: 8px;
  padding: 3px;
}
#about .tech-stacks ul li img {
  height: 12px;
}
#about .tech-stacks ul li svg {
  height: 12px;
  width: auto;
}
#about .tech-stacks ul li .django {
  fill: white;
}
#about .tech-stacks ul li p {
  margin: 0;
}

#projects {
  background-color: #0c0e10;
  color: #ffffff;
  min-height: 100vh;
  border-radius: 20px;
  padding: 5rem 0;
}
#projects h2 {
  font-size: 9rem;
  text-transform: uppercase;
  margin: 0;
}

/*# sourceMappingURL=homepage.css.map */
