@import 'vendors/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0c0e10;
  font-family: "Work Sans";
  color: #cfcfcf;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #cfcfcf;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 70px 0 0;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 700px;
}
.container h2 {
  font-family: "Open Sans";
  color: #ffffff;
}

section {
  margin-bottom: 32px;
}

#hero .container {
  display: flex;
  justify-content: space-between;
}
#hero .container .contact-btns {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
#hero .container .contact-btns a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
  background-color: #131313;
  border: 1px solid #333333;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}
#hero .container .contact-btns a span {
  font-size: 20px;
}
#hero .container .contact-btns a:hover {
  opacity: 1;
}
#hero .container .site-options-btns {
  display: flex;
  gap: 6px;
}
#hero .container .site-options-btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background-color: #0c0e10;
  transition: background-color 0.5s ease;
  border: 1px solid rgba(0, 0, 0, 0);
  width: 31px;
  height: 31px;
  border-radius: 4px;
}
#hero .container .site-options-btns button span {
  font-size: 20px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
#hero .container .site-options-btns button span:hover {
  opacity: 1;
}
#hero .container .site-options-btns button:hover {
  background-color: #131313;
  cursor: pointer;
}
#hero .container .picture {
  height: 160px;
}
#hero .btn {
  margin: 20px 0;
  display: inline-block;
  background: rgb(255, 255, 255);
  opacity: 0.7;
  text-decoration: none;
  padding: 0.75em 1.5em;
  border-radius: 15px;
  font-weight: 600;
  color: #000;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#hero .btn:hover {
  opacity: 1;
  transform: scale(1.01);
}

#projects {
  border-radius: 20px;
}
#projects .container .works {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#projects .container .works .work {
  position: relative;
  background-color: #131313;
  display: flex;
  max-width: 780px;
  min-height: 237px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #333333;
  overflow: hidden;
  transition: background-color 0.3s ease;
}
#projects .container .works .work .work--info {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#projects .container .works .work .work--info h2 {
  font-size: 1.5rem;
  margin: 0;
  text-transform: none;
  font-weight: 500;
}
@media (max-width: 600px) {
  #projects .container .works .work .work--info {
    max-width: 100%;
  }
}
#projects .container .works .work .website-img {
  width: 60%;
  height: 260px;
  background-size: cover;
  transform: translate(40px, 120px);
  border-radius: 16px;
  transition: transform 0.2s ease;
}
@media (max-width: 600px) {
  #projects .container .works .work .website-img {
    display: none;
  }
}
#projects .container .works .work #kano {
  background-image: url("../images/kano.png");
}
#projects .container .works .work #prediction {
  background-image: url("../images/prediction.png");
}
#projects .container .works .work .year {
  position: absolute;
  right: 20px;
  top: 10px;
}
#projects .container .works .work .description {
  color: #cfcfcf;
  margin: 0;
  line-height: 1.4;
}
#projects .container .works .work .btns {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
#projects .container .works .work .btns a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: 80px;
  min-height: 25px;
  font-size: 15px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  padding: 2px 15px;
}
#projects .container .works .work .btns img {
  height: 15px;
  width: 15px;
}
#projects .container .works .work .btns span {
  font-size: 15px;
}
#projects .container .works .work:hover {
  background-color: #1f1f1f;
}
#projects .container .works .work:hover .website-img {
  transform: rotate(-4deg) translate(30px, 120px);
}
#projects .tech-stacks {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
#projects .tech-stacks ul {
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
  gap: 10px;
  padding: 0;
  margin: 0;
}
#projects .tech-stacks ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b1b1b1;
  font-size: 0.7rem;
  gap: 4px;
  border: 1px solid #292929;
  border-radius: 8px;
  padding: 3px;
}
#projects .tech-stacks ul li img {
  height: 12px;
}
#projects .tech-stacks ul li svg {
  height: 12px;
  width: auto;
}
#projects .tech-stacks ul li .django {
  fill: white;
}
#projects .tech-stacks ul li p {
  margin: 0;
}

#technologies .tech-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}
#technologies .tech-categories li {
  color: #ffffff;
  background-color: #131313;
  border: 1px solid #333333;
  padding: 5px 10px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  opacity: 0.6;
}
#technologies .tech-categories li:hover {
  opacity: 1;
  cursor: pointer;
}
#technologies .tech-categories li.active {
  opacity: 1;
}
#technologies .category-items {
  display: none;
  flex-wrap: wrap;
  gap: 5px;
}
#technologies .category-items.active {
  display: flex;
}
#technologies .category-items li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100px;
  width: 100px;
  border-radius: 4px;
  background-color: #222222;
  border: 1px solid #3d3d3d;
}
#technologies .category-items li img {
  height: 50px;
}
#technologies .category-items li .django {
  fill: white;
  height: 50px;
  width: 50px;
}

.footer-div {
  border-top: 1px solid #9e9e9e;
  text-align: center;
}
.footer-div a {
  color: #fff;
  text-decoration: none;
}
.footer-div a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=homepage.css.map */
