@import 'vendors/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$header-font-stack: 'Open Sans';
$p-font-stack: 'Work Sans';
$logo-font: 'Inter';
$btn-padding: 0.75em 1.5em;
$light: #ffffff;
$dark: #0c0e10;
$gray: #cfcfcf;

$container-background: #131313;
$container-border: 1px solid #333333;

html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   background-color: $dark;
   color: $light;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.container {
   margin: 50px auto;
   padding: 0 1rem;
   max-width: 700px;

   h2 {
      font-family: $header-font-stack;
   }

   p {
      font-family: $p-font-stack;
      color: $gray;
   }
}

#hero {
   .container {
      display: flex;
      justify-content: space-between;
      .contact-btns {
         display: flex;
         gap: 5px;
         margin-bottom: 10px;

         a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #fff;
            opacity: 0.6;
            font-size: 20px;
            background-color: $container-background;
            border: $container-border;
            width: 30px;
            height: 30px;
            border-radius: 4px;
            transition: opacity 0.3s ease;

            span {
               font-size: 20px;
            }

            &:hover {
               opacity: 1;
            }
         }
      }

      .site-options-btns {
         display: flex;
         gap: 6px;
         button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            background-color: $dark;
            transition: background-color 0.5s ease;
            border: 1px solid rgba(0, 0, 0, 0);
            width: 31px;
            height: 31px;
            border-radius: 4px;

            span {
               font-size: 20px;
               opacity: 0.6;
               transition: opacity 0.3s ease;

               &:hover {
                  opacity: 1;
               }
            }

            &:hover {
               background-color: $container-background;
               cursor: pointer;
            }
         }
      }

      .picture {
         height: 160px;
      }
   }

   .btn {
      margin: 20px 0;
      display: inline-block;
      background: rgb(255, 255, 255);
      opacity: 0.7;
      text-decoration: none;
      padding: $btn-padding;
      border-radius: 15px;
      font-weight: 600;
      color: #000;
      transition: opacity 0.3s ease, transform 0.3s ease;

      &:hover {
         opacity: 1;
         transform: scale(1.01);
      }
   }
}

#projects {
   border-radius: 20px;
   padding: 5rem 0;
   display: flex;
   justify-content: center;

   h2 {
      margin: 0;
   }

   .container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .work {
         position: relative;
         background-color: #131313;
         display: flex;
         max-width: 780px;
         min-height: 237px;
         padding: 20px;
         border-radius: 8px;
         border: 1px solid #333333;
         overflow: hidden;
         transition: background-color 0.3s ease;

         .work--info {
            max-width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
               font-size: 2rem;
               text-transform: none;
               font-weight: 500;
            }
         }

         .website-img {
            width: 40%;
            height: 200px;
            background-size: cover;
            transform: translate(60px, 70px);
            border-radius: 16px;
            transition: transform 0.3s ease;
         }

         #kano {
            background-image: url('../images/kano.png');
         }

         #prediction {
            background-image: url('../images/prediction.png');
         }

         .year {
            position: absolute;
            right: 20px;
            top: 10px;
         }

         .description {
            color: $gray;
            margin: 0;
            line-height: 1.4;
         }

         .btns {
            margin-top: 20px;
            display: flex;
            gap: 10px;

            a {
               text-decoration: none;
               display: flex;
               align-items: center;
               justify-content: center;
               gap: 5px;
               min-width: 80px;
               min-height: 25px;
               font-size: 15px;
               background-color: #ffffff;
               color: #000000;
               border-radius: 8px;
               padding: 2px 15px;
            }

            img {
               height: 15px;
               width: 15px;
            }

            span {
               font-size: 15px;
            }
         }

         &:hover {
            background-color: #1f1f1f;
            .website-img {
               transform: rotate(-5deg) translate(30px, 90px);
            }
         }
      }
   }

   .tech-stacks {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      ul {
         display: flex;
         flex-wrap: wrap;
         overflow: visible;
         gap: 10px;
         padding: 0;
         margin: 0;
         max-width: 90%;
         li {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #b1b1b1;
            font-size: 0.7rem;
            gap: 4px;
            border: 1px solid #292929;
            border-radius: 8px;
            padding: 3px;

            img {
               height: 12px;
            }

            svg {
               height: 12px;
               width: auto;
            }

            .django {
               fill: white;
            }

            p {
               margin: 0;
            }
         }
      }
   }
}
